.footer-wrapper {
    width: 100%;
}

.header-footer-bg {
    background-color: #FBFBEB !important;
}

.nav-link-custom {
    color: #563037 !important;
  }
  
  .nav-link-custom:hover {
    color: #402922 !important; /* darker on hover */
  }


  